.small
	h2
		span.nonsplit micro Elixir / ZEAM &nbsp;
		span.nonsplit ネイティブコードに限りなく近い高速性能
	p.center
		span.nonsplit 今まで紹介したようなフィーチャーを活用して，抜本的な最適化を研究し，
		span.nonsplit.strong アセンブリ言語でガチガチにチューニングしたネイティブコードに遜色ない高速性能
		span.nonsplit を目指す

