.small
	h2
		span.nonsplit micro Elixir / ZEAM &nbsp;
		span.nonsplit 組込み/IoT用途: 省メモリ，互換性，ハードリアルタイム

.small
	markdown:
		* 組込みシステム開発に欠かせないのが省メモリ・リアルタイム性
		* 既存資産を活用するために互換性も確保したい
		* 省メモリのためのフィーチャ
			* リスト構造を，要素の型によって分類
			* バイト配列・ビット配列
		* 互換性のためのフィーチャ
			* C言語のヘッダファイルを読み込んで Polymorphic LLVM で扱えるようにする
			* エンディアンに関しても型多相になるようにする
		* リアルタイム性のためのフィーチャ
			* 処理ごとに優先度を指定できるようにする
			* アセンブリコードからコード実行にかかる所用実行時間を推定
			* 処理ごとに指定されたデッドラインをもとにスケジューリングを最適化