h3.center
	span.nonsplit 耐障害性が高くマルチコア性能を最大限発揮できる
	span.nonsplit Elixir(エリクサー)を学んでみよう
h4.center
	span.nonsplit
		span.heading 山崎 進 &nbsp;
	span.nonsplit
		span.heading 高瀬 英希 &nbsp;
	img.heading30 src="resources/images/fukuokaex_logo_only_original.png"
