.small
	h2
		span.nonsplit.strong.heading Elixirの組込みソフトウェア開発対応

.small
	markdown:
		* 残念ながら Elixir は現在では省メモリ・リアルタイム対応していません
		* 今すぐElixirを組込みソフトウェア開発に応用できるというものではありません
			* IoTボードや IoT バックエンドサーバーに適用する場合を除く
		* しかしながら，私たちは現在，ZEAM という言語処理系を開発しています
			* ZEAM の狙いの1つは，Elixir で組込みシステムを開発できるようにしようとしています