.small
	h2
		span.nonsplit.strong.heading IoTボードでの実績

p Elixir は Linux が動作する IoT ボードでは動作させて，Groveモジュールの動作に成功した実績があります
p.center
	span.nonsplit
		span.heading 詳しくは高瀬先生 &nbsp;
		img.heading src="resources/images/takase.jpg"
		span.heading &nbsp;から...
