.small
	h2
		span.nonsplit micro Elixir / ZEAM &nbsp;
		span.nonsplit 高耐障害性のプロセス独立メモリ管理機構

	markdown:
		* Elixir / Erlang VM の優れた特性である耐障害性を micro Elixir / ZEAM でも受け継ぐ
		* プロセスごとに独立したメモリ管理(GCを含む)を採用する
		* できる限りスタック領域にオブジェクトを配置する
		* 一定サイズ以上の巨大なオブジェクト，プロセスで共有するオブジェクトは，ページ単位で共有メモリ領域に配置し，領域ごとまとめてGC管理する
			* イミュータブル(値が決まったら不変)だからこそ出来る簡便かつ高速なメモリ管理
			* ページ単位なのでフラグメントが起こらない
		* 戻り値は次のように扱う
			* レジスタにおさまるならばレジスタで渡す
			* 一定サイズ未満であればスタック領域で渡す
			* 一定サイズ以上であれば共有メモリ領域で渡す
