.small
	h3
		span.nonsplit.heading Elixir &nbsp;
		img.heading30 src="resources/images/logo.png"
		span.nonsplit.heading &nbsp; のここがイケている &nbsp;
		span.nonsplit.heading その4
	h2
		span.nonsplit.strong.heading プロセスごとの堅牢なメモリ管理で，
		span.nonsplit.strong.heading 障害監視の仕組みが整っている
		span.nonsplit.strong.heading 障害時に他に影響せず再起動OK!
		span.nonsplit.strong.heading 例外処理に気を配らなくていい
