.small
	markdown:
		## micro Elixir / ZEAM

p.center.small
	span.strong 超高速リアルタイム処理
	span にチューニングしたElixir処理系

.small
	markdown:		
		* 最適化しやすいように言語仕様をチューニング
		* LLVM を拡張した Polymorphic LLVM によるインラインアセンブリコード記述
		* 組込み/IoT用途: 省メモリ，ハードリアルタイム
		* ネイティブなコールバック方式のマルチタスク機構 Sabotender
		* アノテーションによるマルチコアCPU/GPU活用 Hastega
		* 高耐障害性のプロセス独立メモリ管理機構
		* 大域的コード最適化機構
		* ネイティブコードに限りなく近い高速性能

img.image400 src="resources/images/Elixir-proposal-2018.png"	
