h3
	span.nonsplit.heading Elixir &nbsp;
	img.heading30 src="resources/images/logo.png"
	span.nonsplit.heading &nbsp; のここがイケている &nbsp;
	span.nonsplit.heading その1
h2
	span.nonsplit.strong.heading 並列処理が得意

.small
	markdown:
