.small
	h3
		span.nonsplit.heading Elixir &nbsp;
		img.heading30 src="resources/images/logo.png"
		span.nonsplit.heading &nbsp; のここがイケている &nbsp;
		span.nonsplit.heading その3
	h2
		span.nonsplit.strong.heading Ruby on Railsと同等以上の生産性で，
		span.nonsplit.strong.heading 驚異の高レスポンス性能を誇るPhoenix
